table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        /* Adjust column widths */
        th:nth-child(1), /* User ID */
        td:nth-child(1) {
            width: 5%; /* Adjust as needed */
        }

        th:nth-child(2), /* Username */
        td:nth-child(2) {
            width: 15%; /* Adjust as needed */
        }

        th:nth-child(3), /* E-mail */
        td:nth-child(3) {
            width: 20%; /* Adjust as needed - reduced width */
        }

        th:nth-child(4), /* Inquiry */
        td:nth-child(4) {
            width: 30%; /* Adjust as needed */
        }

        th:nth-child(5), /* Action */
        td:nth-child(5) {
            width: 30%; /* Adjust as needed */
        }